@import url("https://necolas.github.io/normalize.css/8.0.1/normalize.css");

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family : sans-serif;
    color: white;
}

nav {
    background: black;
    height: 5rem;
    width: 100%;

}

.logo {
    color: white;
    font-size: 2rem;
    font-weight: bolder;
    line-height: 80px;
    margin-left: 3rem;
}
ul {
float: right;
}
ul li {
    display: inline-block;
    margin-right: 2rem;
    line-height: 80px;
}

ul li a {
    padding: 7px 13px;
    border-radius: 5px;

}

 a.active , a:hover {
    background: red;
    color: white;
    transition: .5s;
}

nav img {
    height: 2rem;
    width: 2rem;
    float: right;
    line-height: 80px;
    align-self: center;
    margin-top: 20px;
    margin-right: 30px;
    cursor: pointer;
    display: none;
}
@media (max-width: 952px) {
    nav {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;


    }
    .logo {
        font-size: 2rem;
        align-self: flex-end;
        grid-column: 2/3;
        grid-row: 1/2;
        justify-self: center;
        align-self: center;
    }
    nav img {
        margin-left: 2rem;
        display: block; 
        grid-column: 1/2;
        grid-row: 1/2;
        margin-bottom: 20px;
    }
    nav ul li {
        grid-column: 1/-1;
        display: none;
    }

    nav ul li a {
        font-size: 16px;
        display: none;
    }
}

@media (max-width: 550px) {
    nav {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;


    }
    .logo {
        font-size: 2rem;
        align-self: flex-end;
        grid-column: 2/3;
        grid-row: 1/2;
        justify-self: center;
        align-self: center;
        margin-right: 40px;
    }
    nav img {
        margin-left: 2rem;
        display: block; 
        grid-column: 1/2;
        grid-row: 1/2;
        margin-bottom: 20px;
        height: 1.5rem;
        width: 1.5rem;
    }
    nav ul il {
        grid-column: 1/-1;
        display: none;
    }

    nav ul li a {
        font-size: 16px;
        display: none;
    }
}
@media (max-width: 375px) {
    nav {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        /* height: 10rem; */


    }
    .logo {
        font-size: 1.5rem;
        align-self: flex-end;
        grid-column: 2/3;
        grid-row: 1/2;
        justify-self: center;
        align-self: center;

    }
    nav img {
        margin-left: 2rem;
        display: block; 
        grid-column: 1/2;
        grid-row: 1/2;
        margin-bottom: 20px;
    }
    nav ul il {
        grid-column: 1/-1;
        display: none;
    }

    nav ul li a {
        font-size: 16px;
        display: none;
    }
}












